@media screen {

  body {
    color: black;
    background-color: white;
    text-align: justify;
    margin: 2mm;
  }

  /* Links {{{ */

  a:link,a:active {
    color: #286fc6;
    background-color: transparent;
  }

  a:link {
    font-weight: bold;
  }

  a:visited {
    color: black;
    background-color: transparent;
  }

  a:hover {
    color: white;
    background-color: #286fc6;
  }

  a {
    font-family: sans-serif;
  }

  /* }}} */

  /* Main faked-table layout {{{ */

  #items {
    width: 22%;
    float: left;
    margin-right: 2mm;
  }

  #content {
    width: 76%;
    float: left;
    margin-right: 2mm;
  }

  /* }}} */

  div.warn {
    font-style: italic;
  }

  div.bloghead {
    left: 5mm;
    background: #effaff;
    border-width: 0.4pt;
    border-style: outset;
    border-color: black;
    padding: 2mm;
    margin-bottom: 2mm;
  }

  div.horst {
    margin-top: 5mm;
    font-size: small;
    font-family: monospace;
  }

  div.links,div.cal,div.latest {
    background: #effaff;
    border-width: 0.4pt;
    border-style: outset;
    border-color: black;
    font-family: sans-serif;
    font-size: small;
    padding: 2mm;
  }

  div.cal,div.val,div.months {
    text-align: center;
  }

  li {
    text-align: left;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    padding: 2mm;
    padding-left: 0mm;
  }

  h2,h3,div.horst {
    color: #0042a8;
  }

  h1 {
    color: #0042a8;
  }

  span.blogtag {
    font-style: italic;
    margin-left: 25%;
  }

  span.blogtitle {
    margin-left: 23%;
  }

  p.latesthead,p.mischead,p.calhead {
    text-align: center;
    background-color: #efefef;
    padding: 1mm;
    text-decoration: underline;
  }

  span.feedlinks {
    font-size: small;
  }

  pre,blockquote,pre.fragment {
    border: 0.4pt outset black;
    background-color: #efefef;
    padding: 2mm;
  }

  pre {
    font-family: monospace;
  }

  div.entry {
    margin-bottom: 5mm;
    border-style: outset;
    border-width: 0.4pt;
    border-color: black;
  }

  div.entrytitle,div.entryhead,div.entrytext {
    padding: 2mm;
  }

  div.entrytitle {
    font-family: sans-serif;
    color: #0042a8;
    background-color: #efefef;
    font-size: large;
    font-weight: bold;
    border-width: 0.4pt;
    border-color: black;
    border-style: outset;
  }

  div.entryhead {
    font-family: sans-serif;
    font-size: small;
    background: #efefef;
    border-width: 0.4pt;
    border-color: black;
    border-style: outset;
  }

  /* Calendar {{{ */

  table.cal {
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-size: small;
  }

  /* cell for today (if shown) */
  td.caltoday {
    background: #efefef;
  }

  /* }}} */

  /* navigation {{{ */

  div.qindex,div.nav {
    background: #effaff;
    border: 0.4pt outset black;
    text-align: center;
    font-size: small;
    font-family: sans-serif;
  }

  /* }}} */

  /* function headers {{{ */
  td.md {
    background-color: #efefef;
    font-weight: bold;
    font-family: monospace;
  }
  td.mdPrefix {
    background-color: #efefef;
    color: #606060;
    font-family: monospace;
  }
  td.mdname1 {
    background-color: #efefef;
    font-weight: bold;
    color: #602020;
    font-family: monospace;
  }
  td.mdname {
    background-color: #efefef;
    font-weight: bold;
    color: #602020;
    width: 100%;
    font-family: monospace;
  }
  .mdTable {
    border: 0.4pt outset black;
    background-color: #efefef;
  }
  .mdRow {
    padding: 8px 10px;
  }
  /* }}} */

  /* table-ized overviews {{{ */

  td.indexkey,td.indexvalue,tr.memlist {
    background-color: #efefef;
    padding: 0px;
  }

  /* }}} */

  /* code listing {{{ */

  span.keyword       { color: #008000 }
  span.keywordtype   { color: #604020 }
  span.keywordflow   { color: #e08000 }
  span.comment       { color: #800000 }
  span.preprocessor  { color: #806020 }
  span.stringliteral { color: #002080 }
  span.charliteral   { color: #008080 }

  /* }}} */

  /* overview listings {{{ */

  .mdescLeft {
    /* empty cell below function's return type */
    padding: 0px 8px 4px 8px;
    font-style: italic;
    background-color: #efefef;
    border-bottom: 0.4pt solid black;
  }
  .mdescRight {
    /* brief description */
    padding: 0px 8px 4px 8px;
    font-style: italic;
    border-bottom: 0.4pt solid black;
    background-color: #efefef;
  }
  .memItemLeft {
    /* return type */
    padding: 1px 0px 0px 8px;
    background-color: #efefef;
    font-family: monospace;
  }
  .memItemRight {
    /* signature */
    padding: 1px 8px 0px 8px;
    background-color: #efefef;
    font-family: monospace;
  }

  /* }}} */

  /* <hr/> must die!1!! */
  hr {
    visibility: hidden;
  }

}
