@media screen {

  body {
    color: black;
    background: transparent;
    text-align: justify;
    margin: 1cm;
  }

  h1,h2,h3,h4,h5,p.title,div.toc,span.appendix,
  span.chapter,span.sect1,span.sect2,span.sect3,
  div.list-of-tables,div.list-of-examples {
    font-family: sans-serif;
  }

  h1,h1.title,div.author,p.pubdate,div.abstract,p.title {
    text-align: center;
  }

  p.title {
    font-weight: bold;
  }

  span.tiny {
    font-family: sans-serif;
    font-size: small;
  }

  div.qindex,pre,pre.screen,div.nav {
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 2mm;
    border-width: 0.4pt;
    border-style: solid;
    border-color: black;
    background-color: #efefef;
  }

  div.qindex,div.nav {
    font-size: small;
    font-family: sans-serif;
    text-align: center;
  }

  thead {
    background-color: #efefef;
  }

  thead,span.term {
    font-weight: bold;
  }

  tr {
    border-width: 0.4pt;
    border-color: black;
    border-style: solid;
  }

  td.indexvalue,.mdescRight {
    font-style: italic;
  }

  .mdescRight,.memItemLeft,.memItemRight,.md,.mdname,.mdname1 {
    padding: 1mm;
  }

  .memItemLeft,.memItemRight,.md,.mdname,.mdname1,.indexkey {
    font-family: monospace;
  }

  .md,.mdname,.mdname1 {
    font-weight: bold;
  }

  .memItemLeft,.memItemRight,.mdescRight,.mdescLeft,.md,.mdname,.mdname1,div.ah {
    background-color: #efefef;
  }

  .mdescRight,.mdescLeft,.indexkey,.indexvalue {
    border-bottom-width: 0.4pt;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  div.ah {
    font-weight: bold;
    border-width: 0.4pt;
    border-style: solid;
    border-color: black;
  }

  table.ordinary {
    margin-left: auto;
    margin-right: auto;
  }

}
